# Aurora System
AURORA_OWNER_NUMBER=55DDDNUMERO
AURORA_CONNECTION_NUMBER=55DDDNUMERO_DO_BOT
AUTOSYSTEM_URL=https://autolikesystem.com.br
AUTOSYSTEM_TOKEN=SUA_KEY_DA_KASANE
AURORA_RENTAL_TOKEN=UM_SEGREDO_FORTE_IGUAL_NO_SITE
